// Place all the styles related to the Times controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.two{
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;
    border: solid;
    border-color: black;
    text-align: center;
    font-family: sans-serif;
}
.one{
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 5%;
    border: solid;
    border-color: black;
    text-align: center;
    font-family: sans-serif;
}