// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
form{
    border: solid;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 15px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.fun{
    border: solid;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 15px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.green{
    border: solid;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 15px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: lightseagreen;
}